<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>812231905551-11q7jed6c8jrrjp1010980fq6guk5m5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812231905551-11q7jed6c8jrrjp1010980fq6guk5m5v</string>
	<key>API_KEY</key>
	<string>AIzaSyDILqWASNqmDmpozeMrhsXuEoUqlh1dtg0</string>
	<key>GCM_SENDER_ID</key>
	<string>812231905551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gojko.P2PLocation</string>
	<key>PROJECT_ID</key>
	<string>fakelocation-1fb95</string>
	<key>STORAGE_BUCKET</key>
	<string>fakelocation-1fb95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812231905551:ios:17259e72d3204a71</string>
	<key>DATABASE_URL</key>
	<string>https://fakelocation-1fb95.firebaseio.com</string>
</dict>
</plist>